@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    background-color: #ffffff;
}

.cropper {
    position: absolute;
    top: 115px;
    background-color: #ffffff;
    width: 50em;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background: #1895B0;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    border: 2px solid #1895B0;
    cursor: pointer;
    margin: 1rem;
}

.btn-outline {
    background: #ffffff;
    color: #1895B0;
    border: 2px solid #1895B0;
}
.action-btns {
    background-color: #ffffff;
} 
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.cropped-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-color: #ffffff;
}

.profile-photo {
    background-color: #ddd;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
    width: 150px;  
}

.name_container {
    margin: 0 0 2em 10em
}

.profile-photo_container{
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
}

.border-container {
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.border-container:hover {
    border-color: #008d92; /* cor da borda ao passar o mouse */
    box-shadow: 0px 0px 15px 0px rgba(8, 154, 190, 0.75); /* sombra ao passar o mouse */
}

.biography-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}
  
  .biography-text {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {

    .cropper {
        width: 23em;
        height: 23em;
        min-height: 40vh;
    }
}


@media (max-width: 1024px) {

    .cropper {
        width: 23em;
        height: 23em;
        min-height: 40vh;
    }

    .name_container {
        margin: 1em 0 1em 7em;
    }
}